$heading-font-color:#2E2418;
$paragraph-color:#3A3A3A;
$black-color: #000000;
$button-color:#FF8800;
$button-color-two:#FFAC4D;
$color-white: #ffffff;
$menu-card-color:#9099a0;
$bg-color: #f9f9f9;
$footer-color:#090f21;